<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Name and Submit</title>
</head>
<body>
<form action="summary" method="post">
    <label for="name">
        What would you like your pets name to be?
        <input type="text" name="name" id="name">
    </label><br>

    <h1>Size:</h1>
    <repeat group="{{@sizes}}" value="{{@petSize}}">
        <input type="radio" id="size" name="size" value="{{@petSize}}">
        <label for="size">{{@petSize}}</label>
    </repeat>

    <h1>Accessories:</h1>
    <repeat group="{{@accessories}}" value="{{@petAccessories}}">
        <input type="checkbox" id="accs" name="accs[]" value="{{@petAccessories}}">
            {{@petAccessories}} <br>
        </input>
    </repeat>

    <input type="submit" value="Submit Order">
</form>
</body>
</html>