<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Order</title>
</head>
<body>
    <form action="order2" method="post">
        <h3>Order a Pet</h3>
        <label for="type">
            What kind of pet would you like to order?
            <input type="text" name="type" id="type">
        </label>
        <br>
        <label for="color">
            Select a color
            <select name="color" id="color">
                <option>--Select a color--</option>
                <repeat group="{{@colors}}" value="{{@colorOption}}">
                    <option>{{@colorOption}}</option>
                </repeat>
            </select>
        </label>
        <br>
        <input type="submit" value="Place Order">
    </form>
</body>
</html>